html
  head
    title Sports Weather - #{title}
    link(rel='stylesheet', href='./build/main.css')
  body
    input(type='checkBox' class='nav-trigger' id='nav-trigger')
    label(for='nav-trigger')
    nav.navigation

      a(href='/dashboard') Dashboard
      a(href='/events') Events
      if signedIn
        a(href='/signout') Sign Out
      else
        a(href='/login') Login

    main.content
      block content
      script(type='text/javascript' src='./build/bundle.js')
