@import 'bourbon/bourbon'

$nav-width: 10em

label[for='nav-trigger']
  position: relative
  left: 0
  +transition()
  padding-left: 1.25em
  margin: 1em
  cursor: pointer
  z-index: 2
  display: inline-block
  height: 2em
  width: 2em

  &:before
    display: inline-block
    content: ""
    position: absolute
    left: 0
    top: 0.25em
    width: 2em
    height: 0.15em
    background: black
    box-shadow: 0 0.65em 0 0 black, 0 1.3em 0 0 black


.navigation
  box-sizing: border-box
  display: flex
  list-style: none

  background: #333

  position: fixed
  left: 0
  top: 0
  bottom: 0
  z-index: 0

  width: $nav-width


  flex-direction: column
  justify-content: flex-start

  padding: 2em 1em

  a
    text-decoration: none
    color: #ddd

    padding: .75em
    margin: .25em

    &:hover
      color: darken(chartreuse, 10%)


.nav-trigger
  display: none

  &:checked ~ label[for='nav-trigger']
    left: $nav-width

  &:checked ~ .content
    left: $nav-width
